<div class="row mt-4 mb-5">
    <div class="col-lg-6 offset-lg-3">
      <div class="mb-5">
        <h1>Artwork Feed</h1>
      </div>
      {{#each artworks}}
        <div class="card mt-3 mb-4">
          <img class="card-img-top" src="{{this.imgUrl}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-name">{{this.name}}</h4>
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text mt-n2">{{this.desc}}</p>
            <div class="text-right">
              {{#if currentUser}}
                <a href="/artworks/{{this.id}}/edit" class="btn btn-secondary">Edit</a>
                <a href="/artworks/{{this.id}}/inquiries/new" class="btn btn-info">Inquire</a>
                <a href="/artworks/{{this.id}}" class="btn btn-primary">View</a>
              {{else}}
                <a href="/artworks/{{this.id}}" class="btn btn-primary">View</a>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
</div>
