<div class="row mt-4">
    <div class="col-lg-6 offset-lg-3">
      <h1>Artworks</h1>
      <a href="/artworks/new">New Artwork</a>

        <h1>Feed</h1>
        {{#each artworks}}
          <div class="card mt-3">
            <img class="card-img-top" src="{{this.imgUrl}}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-name">{{this.name}}</h4>
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text mt-n2">{{this.desc}}</p>
              <div class="text-right">
                <a href="#" class="btn btn-info">Inquire</a>
                <a href="/artworks/{{this.id}}" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        {{/each}}
    </div>
</div>
